#accordian { background:#fff; color:#545454; }
#accordian h3 { font-size: 14px; padding:8px 10px; cursor: pointer; background-color:#fff; font-weight:normal; position:relative; }
#accordian h3:hover, #accordian .active h3 { background-color:#f2f2f2; color:#232323; }
#accordian h3 span { position:absolute; top:6px; right:10px; width:18px; height:18px; background:url(../img/arrow-right-normal.png) no-repeat left top; }
#accordian h3:hover span, #accordian .active h3 span { background-image:url(../img/arrow-right-hover.png); }
#accordian li { list-style-type: none; }
#accordian ul ul li a { color: #232323; text-decoration: none; font-size: 12px; display: block; padding:8px 15px; transition: all 0.15s; font-weight:normal; }
#accordian ul ul li a:hover { background-color: #fff; color:#545454; }
#accordian ul ul { display: none; background-color:#f2f2f2; color:#232323; margin-bottom:0; border-top:1px solid #dfdfdf; }
#accordian li.active ul { display: block; }
#accordian ul ul li:last-child{ border-bottom:none; }