label.error {  color:red !important;padding-right: 0 !important;position: relative;text-align: right;top:3px;width: 100% !important;}
.message { border-radius: 2px;color: #ffffff;font-size: 14px;font-weight: bold;margin-bottom: 10px;padding: 10px;background-color: red;}
.message-success { background-color: green;}
.message-error { background-color: red;}
.after-login-wrap {  background-color: #fbfbfb;border: 1px solid #dfdfdf;float: right;padding: 20px;max-width:300px;min-height:152px;}
.after-login-wrap ul li { float:left;width:50%;margin-bottom:10px;}
.after-login-wrap ul li:first-child { font-size:22px;text-align:center;width:100%;margin-bottom:15px;}
.after-login-wrap ul li a { color:#1375d1;text-decoration:none;font-size:14px;padding:5px 10px;display:block;}
.after-login-wrap ul li a:hover { background-color:#1375d1;color:#ffffff;}
.pickup_time,
.pickup_date { margin:0 3px 5px;}
.pickup_date { margin-left: 34px;}
.pickup_date input[type="text"] { width:104px;}
.pickup_time select { width:100px;}
.button-link{    background-color: #efefef;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    color: #464646;
    float: right;
    font-size: 14px;
    margin-top: 11px;
    padding: 10px 20px;
    text-decoration: none;}
.txtbx {
    background-color: #f9f9f9;
    border: 1px solid #dfdfdf;
    float: left;
    padding: 6px;
    width: 70%;
}
.inner-sml-form dl.forgot-pass { max-width:300px;}
.inner-sml-form dl.forgot-pass dt { width:30%;padding-right:25px;text-align:right;margin-top:18px;clear:left;}
.inner-sml-form dl.forgot-pass dd { width:70%;}
.inner-sml-form dl.reg-wrap dt { width:32%;margin-top:18px;clear:left;}
.inner-sml-form dl.reg-wrap dd { width:68%;}
.inner-sml-form dl.md-address { max-width:350px;}
.inner-sml-form dl.md-address dt { margin-top:8px;width:40%;font-size:14px;color:#000000;}
.inner-sml-form dl.md-address dd { width:60%;font-size:14px;color:#7e7e7e;}
.inner-sml-form dl.delivery-address-book dt,
.inner-sml-form dl.delivery-address-book dd { width:100%;text-align: center;}
.inner-sml-form dl.delivery-address-book dt { font-size:16px;line-height:20px;}
.inner-sml-form dl.delivery-address-book dd .button-link { float:none;display:inline-block;}
.btn-cancel { margin: 10px 0 10px 10px;padding: 5px 10px;}
.loader{ top:0; left:0; right: 0; bottom:0; display:none;background-color:rgba(0,0,0,0.5); position: absolute; z-index: 999; }
.loader .loader-inner {background:url(/img/ajax-loader.gif) 0 0 no-repeat; width:32px; height:32px; margin: 170px auto; display: block;}
.loader1{ top:0; left:0; right: 0; bottom:0; display:none;background-color:rgba(0,0,0,0.5); position: absolute; z-index: 999; }
.loader1 .loader-inner {background:url(/img/ajax-loader.gif) 0 0 no-repeat; width:32px; height:32px; margin: 170px auto; display: block;}
.message{display:block;background: white none repeat scroll 0 0;color:red;} 
.tool li{display:inline;}
.inbox{width:44px;cursor: pointer; cursor: hand;}
.item-id{cursor: pointer; cursor: hand;}
.home{background: #1375d1; border-radius: 3px; color: #fff; display: inline-block; float: right; padding: 10px 30px; text-decoration: none;}
.no-order{text-align:center;}
.cls_no_deliverable{color: red;font-size: 11px;text-align: center;}
.parant_cls_no_deliverable{text-align: center;}
.order_review{width:95%;}
.success-message{
   color: red;
    font-size: 27px;  
}
.success-message{text-align:center}
.custom-success-div{ float: right;margin-right: 17%;width: 70%;}
.custom-clearfix{padding: 31px 33px;}

.pickup_time select { width: 100%; padding:2px; }
.inner-sml-form dl.reg-wrap.pickup_time { margin-top:10px; max-width:330px; }
.inner-sml-form dl.reg-wrap.pickup_time dt, .inner-sml-form dl.reg-wrap.pickup_time dd { margin:13px 0;}
.inner-sml-form dl.reg-wrap.pickup_time dt { padding: 9px 0; }
.inner-sml-form dl.reg-wrap.pickup_time dd { position: relative; }
.inner-sml-form dl.reg-wrap.pickup_time dd  label.error { position: absolute; text-align: left; bottom:-14px; display:block; top: auto; }
.order-overview-lt.order-review { width:100%; }
.text-right { text-align: right; }
